.controls {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  color: black;
  background-color: white;
}

.fish-count {
  margin-right: 25px;
  margin-left: 10px;
}
