body {
  position: relative;
}


canvas {
  /*background-image: url('http://www.publicdomainpictures.net/pictures/230000/velka/water-waves-1499186573fFz.jpg')*/
  background: linear-gradient( rgba(2, 6, 196, 0.3), rgba(2, 6, 196, 0.3) ), url(../javascript_files/pond_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.title {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  // font-family: 'Bellefair', serif;
  font-family: 'Indie Flower', cursive;
}

.actual-title {
  text-decoration: underline;
  color: rgb(255, 123, 0);
}



.slider-description {
  // color: red;
  font-size: 20px;
  font-weight: bold;
  //  font-family: 'Bellefair', serif;
  font-family: 'Indie Flower', cursive;
  // margin-bottom: 0px;
}
.slider-container {
  text-align: center;
  flex-direction: column;
  padding-top: 5px;

}

.slider-container > input {
  opacity: 0.7;
  transition: 0.5s;
  color: red;
 
}

.slider-container > input:hover {
  opacity: 1.0;
  transition: 0.5s;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: rgb(185, 26, 185);
  border-radius: 0px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  // box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 0px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
   background: rgb(185, 26, 185);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #3071A9;
  border-radius: 0px;
  border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}